# Supabase (produccion)
DATABASE_URL="postgresql://postgres:password@aws-0-region.pooler.supabase.com:6543/postgres"

# Local
DB_HOST=localhost
DB_PORT=5432
DB_NAME=iguanautp
DB_USER=iguana
DB_PASS=iguana123
DB_SSLMODE=prefer
